<%= simple_form_for @deck do |f| %>
  <div class="row">
    <div class="col-md-8">
      <%= f.input :name, label: false, placeholder: 'Name' %>
    </div>
    <div class="col-md-3">
      <%= f.button :submit, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>